<%= render 'shared/header' %>
<div class="row">
  <div class="span12">
    <h1>Make Your Own Word Art</h1>
    <iframe frameborder='0' src='/word_maker' style='width: 400px; height: 300px;'></iframe>
  </div>
</div>
<% add_script '/symbol.js' %>