<div class="hero-unit" style='position: relative;'>
  <h1>
    <a href="/" style="color: #000;"><img src="/find.png" style="height: 50px;"/>Open Symbols</a>
  </h1>
  <span>
    open-licensed communication symbols for everyone
  </span>
  <div class='authenticated' style='position: absolute; top: 10px; right: 10px;'>
    <span class='user_name'>User</span> | 
    <a href="#" class='logout'>Logout</a>
  </div>
  <div style="clear: left;"></div>
</div>  